
<body >
             <div class="py-3 fixed top-0 left-0 w-full z-50 bg-white text-black flex items-center justify-between   font-medium  shadow ">
               <div class="flex justify-start items-center w-[70%] gap-x-7 ">
                 <a href="/listings"><i class="fa-regular fa-compass text-[40px] text-pink-600 "></i></a>
               
                <a href="/listings">Explore</a>
                <form class="border rounded-lg w-[40%] flex justify-between" method="POST" action="/listings/search">
                   <input class=" w-[80%] rounded-lg p-2 focus:outline-none focus:ring-0  " type="text" placeholder="Search by country" name="country">
                   <button class=" pr-2" type="submit"><i class="fa-solid fa-magnifying-glass "></i></button>
                </form>
                
               </div>
               
                 <div class="flex items-center justify-evenly w-[30%] ">
                  <%if(!currUser){%>
                <a href="/listings/new">Airbnb your home</a>
                <a href="/signup">Signup</a>
                <a href="/login">Login</a>
                <%}%>
                <%if(currUser){%>
                <a href="/logout">Logout</a>
                <%}%>
                 </div>
             </div>
              <div class="mt-20 px-4">
    <!-- Your page content here -->



  </div>
             
</body>
